[Unit]
Description=Applies POSIX permissions from config file

[Service]
Type=oneshot
ExecStart=/Users/Downloads/Test_task/set-permissions.py /Users/Downloads/Test_task/config.ini
User=root
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
