[Unit]
Description=Applies POSIX permissions from config file
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3/path/to/set_POSIX_permissions.py 
StandardOutput=journal
StandardError=journal
Restart=on-failure
User=root  

[Install]
WantedBy=multi-user.target